{% extends "layout.html" %}

{% block body %}
	<h1>{{ x.question }}</h1>
	<h4>Question by {{ x.author }}</h4>
	<br>
	{% for qu in q %}
		<h3>{{ qu }}</h3>
	{% endfor %}
	<br><hr><br>
	<form action="/question" method="post">
		<input type="hidden" name="id" value="{{ x.id }}">
		<select name="answer">
			<option disabled selected value="">Answer</option>
			{% for a in answers %}
				<option value="{{ a }}">{{ a }}</option>
			{% endfor %}
		</select>
		<button type="submit">Submit Answer</button>
	</form> 
{% endblock %}
