{% extends "layout.html" %}

{% block body %}
    <h1>Fact files for {{ topic | title }}:</h1>
    <hr>
    {% for row in files %}
        <form action="/factFile" method="GET" style="margin: 10px;">
            <button class="btn btn-success" style="width: 100%;">{{ row["title"] | title }}</button>
            <input type="hidden" name="id" value="{{ row['id'] }}"/>
        </form>
    {% endfor %}
    {% if not files %}
        <h2>No fact files about {{ topic | title }}</h2>
    {% endif %}
    <hr>
    <form action="/factSearch" method="GET" style="margin: 10px;">
        <button class="btn btn-success">Back to menu</button>
    </form>
{% endblock %}