{% extends "layout.html" %}

{% block body %}
    <h1>Welcome to RevisionSite</h1>
    <h6>Made by Ben Jones</h6>
    <br><br>
    <form method="GET" action="/question">
        <button type="submit" class="btn btn-primary">Get Started!</button>
    </form>
    <br>
    <hr>
    <h3>Topics:</h3>
    <br>
    <form method="POST" action="/" style="text-align: left;">
        {% for k, v in subj.items() %}
            <h5>{{ k | capitalize }}</h5>
            {% for x in v %}
                <div class="form-check-inline">
                    {% if x in session.topics %}
                        <input class="form-check-input" type="checkbox" value="{{ x }}" name="topics" id="box{{ x | capitalize }}" checked>
                    {% else %}
                        <input class="form-check-input" type="checkbox" value="{{ x }}" name="topics" id="box{{ x | capitalize }}">
                    {% endif %}
                    <label class="form-check-label" for="box{{ x | capitalize }}">
                        {{ x | capitalize }}
                    </label>
                </div>
            {% endfor %}
            <br><br>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Set Topics</button>
    </form>
{% endblock %}