{% extends "layout.html" %}

{% block body %}
    <h3>{{ question }}</h3>
    <form method="POST" action="/question">
        <select class="form-select" name="choice" style="font-size: 20px;">
            <option selected disabled>Pick an answer</option>
            {% for key, answer in answers.items() %}
                <option value="{{ key }}">{{ answer }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit" class="btn btn-primary">Submit answer</button>
    </form>
{% endblock %}