{% extends "layout.html" %}

{% block body %}
    <div style="text-align: right;">
        {% if session.subject == "biology" %}
            <h6 style="color: rgb(99, 189, 99)">Biology</h6>
        {% elif session.subject == "history" %}
            <h6 style="color: rgb(238, 238, 74)">History</h6>
        {% elif session.subject == "french" %}
            <h6 style="color: rgb(67, 116, 221)">French</h6>
        {% endif %}
    </div>
    <h3>{{ question }}</h3>
    <form method="POST" action="/question">
        {% block questionHTML %}{% endblock %}
        <br>
        <button type="submit" class="btn btn-primary">Submit answer</button>
    </form>
    <br>
    <form method="GET" action="/">
        <button type="submit" class="btn btn-primary">Go to Menu</button>
    </form>
{% endblock %}